In [57]:
import pandas as pd
import numpy as np

from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
# from sqlalchemy.ext.automap import automap_base
import pymysql
from sqlalchemy.orm import sessionmaker

import sqlite3
import csv

In [49]:
engine = create_engine('sqlite:///./Resources/hawaii.sqlite')

In [50]:
conn = engine.connect()

In [64]:
Base = declarative_base()

class Measurement(Base):
    __tablename__ = "measurements"
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = "stations"
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [65]:
Base.metadata.create_all(engine)

In [66]:
measurements_df=pd.read_csv('Resources/clean_hawaii_measurements.csv')
# measurements_df.head()
stations_df=pd.read_csv('Resources/hawaii_stations.csv')
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [67]:
measurements_data=measurements_df.to_dict(orient='records')
# print(measurements_data[:5])
stations_data=stations_df.to_dict(orient='records')
print(stations_data[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [68]:
# Failing to import MetaData
# metadata = Metadata(bind=engine)
# metadata.reflect()
# customers_table = sqlalchemy.Table('customers', metadata, autoload=True)

# Using direct reference to my class instead
measurement_table=Measurement.__table__
station_table=Station.__table__

In [69]:
conn.execute(measurement_table.delete())
conn.execute(station_table.delete())

In [70]:
conn.execute(measurement_table.insert(), measurements_data)
conn.execute(station_table.insert(), stations_data)

In [72]:
# conn.execute("select * from measurements limit 5").fetchall()
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]